<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomeLife后台管理</title>
    <link rel="stylesheet" href="../public/css/addInformation.css">
    <script src="../node_modules/jquery/dist/jquery.js"></script>
</head>

<body>
    <div class="app_content">
        <div class="app_header">
            <div class="header_logo">
                <img src="../public/img/default-img/logo.jpeg" alt="HomeLife">
                <p>欢迎来到HomeLife！</p>
            </div>
            <div class="header_text_content">
                <div class="header_text">
                    HomeLife后台管理系统
                </div>
            </div>
            <div class="header_user">
                <div class="user_nickname">
                    您好！ {{admin.nickname}}
                </div>
                <a href="/logout">退出登录</a>
            </div>
        </div>
        <div class="index_content">
            <div class="index_left_content">
                <div class="index_left_item">
                    <a href="/index">添加商品</a>
                </div>
                <div class="index_left_item">
                    <a href="/addExhibition">添加展示数据</a>
                </div>
                <div class="index_left_item">
                    <a href="/addDecoration">添加装修案例数据</a>
                </div>
                <div class="index_left_item">
                    <a href="/addBrand">添加品牌数据</a>
                </div>
                <div class="index_left_item">
                    <a href="/addInformation">添加前沿资讯</a>
                </div>
                <div class="index_left_item">
                    <a href="/getOrderForm">查看订单信息</a>
                </div>
            </div>
            <div class="index_right_content">
                <div class="index_right_title">
                    添加前沿资讯数据
                </div>
                <div class="index_right_form_item">
                    <label>标题：</label>
                    <input type="text" id="title" name="title">
                </div>
                <div class="index_right_form_item">
                    <label>内容：</label>
                </div>
                <div id="editor">

                </div>
                <button id="btn">提交</button>
            </div>
        </div>
        <div class='footer_content'>
            <div class="footer_label1">为大众创造更加美好的日常生活、提供种类繁多、美观实用、老百姓买得起的家居用品</div>
            <div class="footer_label2">Copyright © 2019-2020 <a
                    href="http://wpa.qq.com/msgrd?v=3&uin=1329372653&site=qq&menu=yes">HomeLife生活家居有限公司</a>. All Rights
                Reserved.</div>
        </div>
    </div>
    <script type="text/javascript" src="../node_modules/wangeditor/release/wangEditor.min.js"></script>
    <script type="text/javascript">
        //editor的构造器
        var E = window.wangEditor
        //实例化实例
        var editor = new E('#editor')
        editor.customConfig.uploadImgServer = '/upload'  // 设置上传图片，且设置上传图片的路径
        // // editor.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片

        //上传图片的时候给字段起的名字
        editor.customConfig.uploadFileName = 'wangEditor_uploadImg'

        editor.customConfig.uploadImgHooks = {
            success: function (xhr, editor, result) {
                console.log('图片上传并返回结果,图片插入成功')
            },
            fail: function (xhr, editor, result) {
                console.log('图片上传并返回结果，但图片插入错误')
            },
            error: function (xhr, editor) {
                console.log('图片上传出错')
            },
            timeout: function (xhr, editor) {
                console.log('图片上传超时')
            },
            customInsert: function (insertImg, result, editor) {
                // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
                // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果

                // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
                var url = result.url
                console.log(url)
                insertImg(url)

                // result 必须是一个 JSON 格式字符串！！！否则报错
            }
        }
        //生成富文本编辑器
        editor.create()

        //点击的时候提交
        document.getElementById('btn').addEventListener('click', function () {
            //获取到了用户输入的内容(html)
            let title = document.getElementById('title').value;
            let content = editor.txt.html()
            //向后端提交
            $.ajax({
                url: '/addInformation',
                type: 'post',
                data: {
                    title: title,
                    content: content
                },
                success(res) {
                    window.location.reload()
                }
            })
        }, false)
    </script>
</body>

</html>