<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台登录</title>
    <link rel="stylesheet" href="../public/css/login.css">
    <script src="../node_modules/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="app_content">
        <div class="login_content">
            <div class="login_title">管理员登录</div>
            <form action="/login" method="POST" id="logi_form">
                <div class="error_message">
                    <p>{{err_message}}</p>
                </div>
                <div class="form_group">
                    <label for="email">邮箱：</label>
                    <input type="email" name="email" id="email" placeholder="请输入邮箱！">
                </div>
                <div class="form_group">
                    <label for="password">密码：</label>
                    <input type="password" name="password" id="password" placeholder="请输入密码！">
                </div>
                <div class="submit_button_content">
                    <button type="submit" id="submit" class="submit_btn">登录</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>