.index_content{
    width: 1240px;
    margin: 0 auto;
}
.index_carousel{
    width: 100%;
    height: 500px;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 500px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide img {
    width: 1240px;
    height: 500px;
  }
  .good_goods_content{
      width: 100%;
  }
  .good_goods_img1{
      width: 100%;
      height: 400px;
  }
  .good_goods_img1 img{
      width: 100%;
      height: 100%;
  }
  .good_goods_img{
      width: 100%;
      height: 450px;
      margin-top: 20px;
  }
  .good_goods_img2{
      float: left;
      width: 600px;
      height: 450px;
  }
  .good_goods_img2 img{
      width: 100%;
      height: 100%;
  }
  .good_goods_img3{
    float: right;
    width: 600px;
    height: 450px;
}
.good_goods_img3 img{
    width: 100%;
    height: 100%;
}
.display_content{
    width: 100%;
    height: 300px;
}
.display_item1{
    float: left;
    width: 300px;
    height: 300px;
    background-image: url(../../static/images/display1.png);
    background-size: cover;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 300px;
}
.display_item2{
    margin-left: 12px;
    float: left;
    width: 300px;
    height: 300px;
    background-image: url(../../static/images/display2.png);
    background-size: cover;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 300px;
}
.display_item3{
    margin-left: 12px;
    float: left;
    width: 300px;
    height: 300px;
    background-image: url(../../static/images/display3.png);
    background-size: cover;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 300px;
}
.display_item4{
    margin-left: 12px;
    float: left;
    width: 300px;
    height: 300px;
    background-image: url(../../static/images/display4.png);
    background-size: cover;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 300px;
}
.brand_recommendation{
    width: 100%;
    height: 200px;
}
.brand_item{
    margin-left: 90px;
    margin-top: 30px;
    float: left;
    width: 200px;
    height: 50px;
    border: 5px solid #6F1A21;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    color: #6F1A21;
}
.brand_item:hover{
    color: white;
    background: #6F1A21;
}
.decoration_case{
    width: 100%;
    height: 600px;
}
.case_item1{
    float: left;
    width: 300px;
    height: 280px;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url(../../static/images/卧室.png);
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 280px;
}
.case_item2{
    float: left;
    width: 300px;
    height: 280px;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url(../../static/images/浴室.png);
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 280px;
}
.case_item3{
    float: left;
    width: 300px;
    height: 280px;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url(../../static/images/客厅.png);
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 280px;
}
.case_item4{
    float: left;
    width: 300px;
    height: 280px;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url(../../static/images/厨房.png);
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 280px;
}
.case_item5{
    float: left;
    width: 300px;
    height: 280px;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url(../../static/images/餐厅.jpg);
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 280px;
}
.case_item6{
    float: left;
    width: 300px;
    height: 280px;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url(../../static/images/儿童房.jpg);
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 280px;
}
.case_item7{
    float: left;
    width: 300px;
    height: 280px;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url(../../static/images/书房.jpg);
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 280px;
}
.case_item8{
    float: left;
    width: 300px;
    height: 280px;
    margin-left: 10px;
    margin-top: 10px;
    background-image: url(../../static/images/阳台.png);
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 280px;
}
.promise_content{
    width: 100%;
    height: 100px;
    display: flex;
}
.promise_item{
    flex: 1;
    color: #616161;
    font-size: 15px;
    line-height: 100px;
    text-align: center;
}
.promise_item:hover{
    color: #EC6833;
}
.swiper-container {
    width: 100%;
    height: 500px;
  }
  .swiper-slide {
      width: 330px;
      height: 500px;
  }
.swiper-slide img{
    width: 100%;
    height: 100%;
}