.userInfo_content{
    width: 1240px;
    margin: 0 auto;
    height: 600px;
}
.userInfo_left_content{
    float: left;
    width: 300px;
    height: 560px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;

}
.userInfo_right_content{
    float: left;
    width: 900px;
    height: 560px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
}
.userInfo_left_content div{
    width: 260px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid black;
    background: black;
    color: white;
    font-size: 18px;
}
.userInfo_left_content div:hover{
    background: black;
    color: red;
    cursor: pointer;
    box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.5);
}
.user_form_item{
    width: 100%;
    height: 50px;
}
.user_form_item label{
    width: 80px;
    margin: 0;
    margin-left: 100px;
    height: 50px;
    color: black;
    font-size: 16px;
    line-height: 50px;
    text-align: left;
    display: inline-block;
}
.email_p{
    width: 300px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    margin-left: 30px;
}
.nickname_input{
    width: 300px;
    height: 30px;
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.bio_input{
    width: 300px;
    height: 50px;
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.gender_input{
    margin-left: 30px;
}
.avatar_input{
    margin-left: 20px;
}
.submitBtn{
    width: 200px;
    height: 50px;
    background: black;
    color: white;
    margin-left:200px;
    margin-top: 30px;
}
.mobileNum_input{
    width: 300px;
    height: 30px;
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.address_input{
    width: 300px;
    height: 30px;
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 5px;
}