.Brand_content{
    width: 1240px;
    margin: 0 auto;
}
.Brand_describe_content{
    width: 100%;
}
.Brand_img{
    width: 100%;
    height: 400px;
}
.Brand_describe_brand{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #46916B;
    font-size: 20px;
    text-align: center;
}
.Brand_describe_text{
    width: 100%;
    color: #989898;
    font-size: 16px;
}
.Brand_goods_Recommend{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: brown;
}
.Brand_goods_content{
    width: 100%;
    height: 100%;
}
.swiper-container {
    width: 100%;
    height: 500px;
  }
.swiper-slide {
    width: 400px;
    height: 500px;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}